
.form{
    background-color: rgb(243, 239, 239);
    border-radius: 10px;
    width: 800px;
    height: 120px;
    display: flex;
    justify-content: space-between;
  }
  .input-group{
    margin-top: auto;
    margin-bottom: auto;
  }
  .input-group label{
    margin-left: 20px;
  }
  .input-group input{
    margin-left: 10px;
    border-style: none;
    border-radius: 10px;
    height: 30px;
    
  }
  .form-button{
    height: 50px;
    width: 130px;
    margin-top:30px;
    margin-right: 30px;
    border-radius: 10px;
    border-style: none;
    background-color: rgb(49, 127, 141);
    color: white;
  
  }