*{
  margin: 0px;
  padding: 0px;
}
.root{
    display: grid;
    place-items: center;


}
.layout{

  max-width: 1200px;
  min-width: 800px;
}
/*layout +root */


/* .list-wrapper{

} */


/* form */

/* todo1 */


